.header {
  grid-area: h;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 20px;
  height: 10vh;
  min-height: 80px;
  background-color: #43581d;
}